.navlink:link {
    color: black;
    background-color:  skyblue;
    border: 1px solid block;
    padding: 10px 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.navlink:hover, navlink:active {
    box-shadow: 0 5px 15px rgba(46, 204, 113, .4);
    transform: scale(1.2);
}